
body{
    background-color: yellow;
}

.mustache{
  color: #000;
  position: absolute;
  left: 100px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 150px 240px 0 0 currentColor,
              300px 240px 0 0 currentColor;
}

.mustache::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 120px;
  width: 210px;
  height: 120px;
  border-radius: 0 0 0 100%;
  border: 0 solid transparent;
  border-bottom: 180px solid currentColor;
  -webkit-transform-origin: right 210px;
          transform-origin: right 210px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.mustache::after {
  content: '';
  position: absolute;
  width: 210px;
  height: 120px;
  left: 390px;
  top: 120px;
  border-radius: 0 0 100% 0;
  border: 0 solid transparent;
  border-bottom: 180px solid currentColor;
  -webkit-transform-origin: left 210px;
          transform-origin: left 210px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}




.ojos{
    width: 100px;
    height: 100px;
    position: absolute;
    color:black;
    border-radius: 100% 100% 80% 80%;
    box-shadow: 230px 100px 0 0 currentColor,
                480px 100px 0 0 currentColor;
}

/* mas 10 a la derecha */
.brillo{
    width: 30px;
    height: 30px;
    position: absolute;
    color:white;
    border-radius: 100% 100% 80% 80%;
    box-shadow: 240px 110px 0 0 currentColor,
                490px 110px 0 0 currentColor;
}

.lengua{
    width: 250px;
    height: 250px;
    position: absolute;
    color:rgb(252, 55, 55);
    border-radius: 40% 80%;
    box-shadow: 300px 300px 0 0 currentColor;
}

